// Frameception 2.0
// _variables
// Here you can define all your global sass variables

// $primary-color:#;
// $secondary-color:#;

$headline-primary-font:'Channel Slanted 2', sans-serif;
$headline-secondary-font:'DTLArgoT', sans-serif;
$headline-tertiary-font:'DTLArgoST', sans-serif;
$headline-primary-color:white;
// $headline-secondary-color:#;
// $headline-line-height:#;

$base-primary-font:'DTLArgoT', sans-serif;
// $base-primary-color:#;
// $base-font-size:#;
// $base-line-height:#;

